@{
    ViewData["Title"] = "Home Page";
}

@model List<string>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>

    @foreach (var a in Model)
    {
        <p>@a</p>
    }

    <button type="button" asp-action="ViewTimeSlots">Schedule an Appointment</button>

    <!--
    @@foreach (var x in Model.Timeslots)
    {
            <p>@@x.Date @@x.AppointmentID</p>
    }

    @@foreach (var x in Model.Appointments)
    {
        @@x.AppointmentID
        @@x.GroupName
        @@x.GroupSize
    }
    -->

</div>