@{
    ViewData["Title"] = "Home Page";
}

@model List<string>


<div class="text-center">
    <h1 class="display-4">Jesus Tours with Rob</h1>

</div>

<!-- Button trigger modal -->
<div class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Tour Information
    </button>
</div>

<br />

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tour Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Learn more about the House of The Lord at our exclusive temple tours. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="text-center">
        <img src="~/img/temple.jpg" class="rounded" /><br /><br />
        <a class="btn btn-dark" asp-controller="Home" asp-action="ViewTimeSlots">Schedule an Appointment</a>
    </div>
</div>