@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>

    <a class="btn btn-dark" asp-controller="Home" asp-action="ViewTimeSlots">Schedule an Appointment</a>

    <!--
    @@foreach (var x in Model.Timeslots)
    {
            <p>@@x.Date @@x.AppointmentID</p>
    }

    @@foreach (var x in Model.Appointments)
    {
        @@x.AppointmentID
        @@x.GroupName
        @@x.GroupSize
    }
    -->

</div>