@model Appointment


<h1>Schedule Appointment</h1>

<p>@ViewBag.Timeslot.Date</p>



<form method="post" asp-action="ScheduleAppointment">
    <label asp-for="GroupName">Group Name:</label>
    <input asp-for="GroupName" />
    <input type="hidden" name="timeslotID" value="@ViewBag.Timeslot.TimeslotID" />
    <br />

    <label asp-for="GroupSize">Group Size:</label>
    <input asp-for="GroupSize" />
    <br />

    <label asp-for="Email">Email:</label>
    <input asp-for="Email" />
    <br />

    <label asp-for="Phone">Phone:</label>
    <input asp-for="Phone" />
    <br />

    <div asp-validation-summary="All">
    </div>

    <button class="btn-outline-success" type="submit">Schedule Appointment</button>
</form>