

@model List<string>


<div class="text-center">
    <h1 class="display-4">Appointments</h1>
   
</div>

<div>
    <!--This is where we pull in the model we reference above. We simply iterate through each string in the list and print it into the list-->
    @foreach (var a in Model)
    {

        <ul class="list-group w-50 mx-auto" >
            <li class="list-group-item text-center">@a</li>
        </ul>
    }
</div>