@model IEnumerable<Timeslot>


<table class="table table-dark">
        <tr>
            <th>Date</th>
            <th></th>
        </tr>

        @foreach (Timeslot date in Model)
        {
            <tr>
                <td><p>@date.Date</p></td>
                <td>
                    <form method="post" asp-action="ViewTimeSlots">
                        <input type="hidden" name="timeslotid" value="@date.TimeslotID" />
                        <button type="submit" class="btn-success btn-small">Schedule Appointment</button>
                    </form>
                </td>
                <td>@date.TimeslotID</td>
            </tr>
        }
</table>



