

@model List<string>


<div class="text-center">
    <h1 class="display-4">Appointments</h1>
   
</div>

<div>

    @foreach (var a in Model)
    {

        <ul class="list-group">
            <li class="list-group-item">@a</li>
        </ul>
    }
</div>